@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
}
.main-view {
  background-image: url(/assets/Image-bg.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
}

.first-view.tab-option1 {
  background-image: url(/assets/view-button-1.png);
  background-repeat: no-repeat;
}
.first-view.tab-option2 {
  background-image: url(/assets/view-button-2.png);
  background-repeat: no-repeat;
}
.first-view.tab-option3 {
  background-image: url(/assets/view-button-3.svg);
  background-repeat: no-repeat;
}
.first-view.tab-option4 {
  background-image: url(/assets/view-button-4.svg);
  background-repeat: no-repeat;
}

.second-view {
  background-image: url(/assets/natura.png);
  background-repeat: no-repeat;
}

/* SimpleSlider.css */

.simple-slider {
  max-width: 800px; /* Set the desired maximum width */
  margin: 0 auto;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Set the desired slide height */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 24px;
}
