@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.main-view {
  background-image: url(/assets/Image-bg-min.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
}
.main-view nav button {
  opacity: 0;
  pointer-events: none;
}
.menu {
  background: rgba(255, 255, 255, 0.4);
}
.first-view .tab-wrapper .tabs button img {
  width: 8.3vh;
  height: 8.3vh;
  object-fit: contain;
}
.first-view.tab-option1 {
  background-image: url(/assets/view-button-1.png);
  background-repeat: no-repeat;
}
.first-view.tab-option2 {
  background-image: url(/assets/view-button-2.png);
  background-repeat: no-repeat;
  background-size: 19vw 100%;
}
.first-view.tab-option3 {
  background-image: url(/assets/view-button-3.png);
  background-repeat: no-repeat;
  background-size: 19vw 100%;
}
.first-view.tab-option3 .center img {
  width: 22vh;
  height: auto;
  object-fit: contain;
  aspect-ratio: auto 1/1;
}
.first-view.tab-option4 {
  background-image: url(/assets/view-button-4.png);
  background-repeat: no-repeat;
  background-size: 19vw 100%;
}

.second-view {
  background-image: url(/assets/natura.png);
  background-repeat: no-repeat;
}
.second-view .button-wrapper ul li button img {
  height: 11.198vw;
  width: auto;
  object-fit: cover;
  aspect-ratio: auto 1/1;
}
.camomilla-view {
  background-image: url(/assets/colors/camomilla-bg.png);
  background-repeat: no-repeat;
  background-color: #fffdf2;
  background-size: 19vw 100%;
}
.equiseto-view {
  background-image: url(/assets/colors/equiseto-bg.png);
  background-repeat: no-repeat;
  background-color: #f4f7f2;
  background-size: 19vw 100%;
}

.ginkgo-view {
  background-image: url(/assets/colors/ginkgo-bg.png);
  background-repeat: no-repeat;
  background-color: #eef3e4;
  background-size: 19vw 100%;
}

.verde-view {
  background-image: url(/assets/colors/ver-bg.png);
  background-repeat: no-repeat;
  background-color: #f9ffeb;
  background-size: 19vw 100%;
}

.olivo-view {
  background-image: url(/assets/colors/olivo-bg.png);
  background-repeat: no-repeat;
  background-color: #fdffea;
  background-size: 19vw 100%;
}

.mirtillo-view {
  background-image: url(/assets/colors/mirtillo-bg.png);
  background-repeat: no-repeat;
  background-color: #f3f5fc;
  background-size: 19vw 100%;
}

.ibisco-view {
  background-image: url(/assets/colors/ibisco-bg.png);
  background-repeat: no-repeat;
  background-color: #ffe0de;
  background-size: 19vw 100%;
}
.goji-view {
  background-image: url(/assets/colors/goji-bg.png);
  background-repeat: no-repeat;
  background-color: #e9e6d8;
  background-size: 19vw 100%;
}
.tiglio-view {
  background-image: url(/assets/colors/tiglio-bg.png);
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  background-size: 19vw 100%;
}
.uvarossa-view {
  background-image: url(/assets/colors/uvarossa-bg.png);
  background-repeat: no-repeat;
  background-color: #f4effa;
  background-size: 19vw 100%;
}
.zenzero-view {
  background-image: url(/assets/colors/zenzero-bg.png);
  background-repeat: no-repeat;
  background-color: #fff7ef;
  background-size: 19vw 100%;
}

.slide img {
  height: 46.85vh;
  width: 28.073vw;
  object-fit: cover;
}

.slick-prev {
  left: -72px !important;
}
.slick-next {
  right: -72px !important;
}
.slick-prev,
.slick-next {
  width: 52px !important;
  height: 52px !important;
}
.slick-prev:before {
  content: "" !important;
  background-image: url(/assets/slides/arrow-p.png) !important;
  background-repeat: no-repeat;
  background-size: 52px 52px;
  background-position: center center;
  display: block;
  height: 52px;
  width: 52px;
}
.slick-next:before {
  content: "" !important;
  background-image: url(/assets/slides/arrow-n.png) !important;
  background-repeat: no-repeat;
  background-size: 52px 52px;
  background-position: center center;
  display: block;
  height: 52px;
  width: 52px;
}
ul.slick-dots {
  display: flex !important;
  justify-content: center;
  gap: 20px;
}
.slick-dots {
  bottom: -55px !important;
}
.slick-dots li button {
  width: 38px !important;
  height: 38px !important;
}
.slick-dots li button:before {
  content: "" !important;
  width: 38px !important;
  height: 38px !important;
  border: 1px solid #000;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  background-color: #000;
}
